<header class="header container-fluid">
  <div class="row">
    <a href="#inicio" class="col-lg-1 col-md-2 col-sm-2 col-xs-4 col-xs-offset-4 col-sm-offset-0" >
      <img src="{{ site.url }}/assets/imgs/avatar-trans.png" alt="icone">
    </a>
    <!-- <figure class="icon col-md-1">
    </figure> -->
    <nav class="col-lg-5 col-lg-offset-6 col-md-6 col-md-offset-4 col-sm-7 col-sm-offset-3">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#inicio">Início</a></li>
        <li role="presentation"><a href="#quem-somos">Quem somos</a></li>
        <li role="presentation"><a href="#portfolio">Portfólio</a></li>
        <li role="presentation"><a href="#promocoes">Promoções</a></li>
        <li role="presentation"><a href="#contatos">Contatos</a></li>
      </ul>
    </nav>
  </div>
</header>
