<html lang="pt-br">
<head>
  <link rel="icon" href="assets/imgs/avatar.jpg">
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="pt-br">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Tiago Lisboa">
  <meta name="keywords" content="fotografa, foto, fotos, fotografia, fotografias,
  pammela, lisboa, pammelalisboa, natal, rn, natalrn, infantil, casamento,
  casamentos, festas">
  <title>{{ page.title }}</title>
  {% seo %}
</head>
