@font-face {
  font-family: 'Wolf';
  src: url("../fonts/wolf/Wolf in the City Light.ttf");
}
@font-face {
  font-family: 'Garamond';
  src: url("../fonts/garamond/AppleGaramond.ttf");
}
  body
  {
    font-size: 1.5em;
    font-family: 'Garamond';
  }
  img{
    max-width: 100%;
  }
  h1, h2
  {
    padding-bottom: 50px;
  }
  h3
  {
    padding-bottom: 20px;
  }
  .header
  {
    background-color: /*#F3C8D9; */ rgba(243,200,217, .9);
    position: fixed;
      top: 0;
      left: 0;
      right: 0;
  }
    .header nav
    {
      font-size: 1.2em;
      padding-top: 1.5%;
      display: none;
    }
    .header .nav>li>a:focus, .header .nav>li>a:hover
    {
      color: #337ab7;
      text-decoration: none;
      background-color: transparent;
    }
    .header .nav>li>a:hover
    {
      text-decoration: underline;
    }
    .active>a
    {
      color: #fff !important;
      background-color: #337ab7 !important;
    }

  #inicio
  {
    background-image: url("../imgs/fundoblog.jpg");
    /*height: 700px;*/
  }

  #quem-somos
  {
    background-image: url("../imgs/QUEM_SOMOS_2017_(2).jpg");
    display: table;
    height: 400px;
    position: relative;
  }

  #portfolio
  {
    background-image: url("../imgs/min/TaizaJusabe_158.jpg");
    position: relative;
    -webkit-transition: background-image 0.5s linear;
    -o-transition: background-image 0.5s linear;
    transition: background-image 0.5s linear;
  }
    #portfolio figure
    {
      padding-bottom: 10px;
      padding-top: 10px;
      max-height: 230px;
      overflow: hidden;
    }

  #promocoes
  {
    background-color: #FCECDC;
  }
    .promocao
    {
      background-color: rgba(255,255,255,0.4);
      padding-top: 10px;
      padding-bottom: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

  #contatos
  {
    background-color: #121212;
    color: #f9f9f9;
    padding-bottom: 50px;
  }
    .email
    {
      padding-top: 20px;
    }
    .email div
    {
      margin: 5px 0;
    }
    .email textarea
    {
      height: 100px;
    }

  .footer
  {
    background-color: #121212;
    color: #f9f9f9;
    padding: 0 20px 20px;
  }
  /*  CLASSES GENÉRICAS   */
  .color,
  .back,
  .hide-lightbox
  {
    position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  .hide-lightbox
  {
    position: fixed !important;
    visibility: hidden;
  }
  .color,
  .hide-lightbox
  {
    background-color: rgba(100, 100, 100, 0.3);
  }

    .conteudo
    {
      background-color: rgba(255,255,255,0.5);
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: justify;
    }
    .center
    {
      text-align: center;
    }
    .right
    {
      text-align: right;
    }
  .paralax
  {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-extend
  {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .font-big
  {
    font-size: 2em;
  }
  .lightbox
  {
    width: 90%;
    height: 85%;
    text-align: center;
    position: fixed;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -45%);
    visibility: hidden;
  }
    .lightbox .close
    {
      position: fixed;
        top: -40px;
        right: 0;
    }

    .lightbox img
    {
      max-height: 100%;
      padding: 0;
      box-shadow: 0 0 20px #888888;
    }

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .header nav
  {
    padding-top: 5%;
    display: block;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .sessao
  {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .header nav
  {
    padding-top: 5%;
  }
  .lightbox
  {
    width: 60%;
    height: 85%;
    text-align: center;
    position: fixed;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
    .lightbox .close
    {
      position: fixed;
        top: -40px;
        right: -40px;
    }

    .lightbox img
    {
      height: 100%;
      padding: 0;
      box-shadow: 0 0 20px #888888;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .header nav
  {
    padding-top: 1%;
  }
}
