img{
  max-width: 100%;
}

body
{
  font-size: 1.5em;
}

.header
{
  background-color: #F3C8D9; /*rgba(243,200,217, 0.9);*/
  padding: 5px 50px;
  position: fixed;
    top: 0;
  width: 100%;
}
  .icon
  {
    width: 10%;
  }

.inicio
{
  background-image: url("../imgs/capa.jpg");
  height: 700px;
}

.quem-somos
{
  background-image: url("../imgs/QUEM_SOMOS_2017_(2).jpg");
  display: table;
  /*padding: 20px 0;*/
  height: 400px;
  /*background-color: #FBEDE4;*/
  position: relative;
}

.promo
{
  padding-bottom: 20px;
  background-color: #FCECDC;
}
  .promocao
  {
    background-color: rgba(255,255,255,0.4);
    padding-bottom: 20px;
  }
    .promocao h3
    {
      padding-bottom: 20px;
    }

.contatos
{
  /*background-image: url("../imgs/QUEM_SOMOS_2017_(1).jpg");*/
  background-color: #121212;
  color: #f9f9f9;
}

.portfolio
{
  background-image: url("../imgs/TaizaJusabe_158.JPG");
  position: relative;
  -webkit-transition: background-image 0.5s linear;
  -o-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}
  .portfolio .row
  {
    padding-bottom: 10px;
    padding-top: 10px;
  }
/*  CLASSES GENÉRICAS   */
.color,
.back
{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.color
{
  background-color: rgba(100, 100, 100, 0.3);
}
.sessao
{
  padding-top: 50px;
  padding-bottom: 100px;
  /*width: 100%;*/
  /*display: table;*/
}
  .conteudo
  {
    background-color: rgba(255,255,255,0.8);
    /*margin: auto;*/
    padding-top: 30px;
    padding-bottom: 30px;
    /*width: 80%;*/
    text-align: justify;
    /*font-size: 1.3em;*/
  }
  .center
  {
    text-align: center;
  }
.paralax
{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;;
}
.font-big
{
  font-size: 2em;
}
